@import 'datatables.net-bs4/css/dataTables.bootstrap4.css';
@import 'datatables.net-buttons-bs4/css/buttons.bootstrap4.css';
@import 'datatables.net-select-bs4/css/select.bootstrap4.css';
@import 'datatables.net-searchpanes-bs4/css/searchPanes.bootstrap4.css';

.gpdt-enabling-datatable {
  position: absolute;
  top: 0.5rem;
  right: 4rem;
  z-index: 1;
}
